SERVICE_NAME=quiz-service
ENVIRONMENT=development
DEBUG=True
PORT=8002

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/fastquiz_quizzes
MONGODB_URI=mongodb://localhost:27017/fastquiz_questions
REDIS_URL=redis://localhost:6379/1
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

DEFAULT_DURATION_SECONDS=900
FREE_ATTEMPTS_PER_TOPIC=1
